@import '../../index.scss';

.add-subtract {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: color(secondary-color);

  p,
  button {
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 700;
  }

  p {
    opacity: 1;
    padding-inline: 1em;
  }

  button {
    opacity: 0.25;
    padding-inline: 1.5em;

    &:hover {
      background-color: lightgrey;
    }
  }
}