@import '../../index.scss';

.button1 {
  background-color: color(accent-color);
  border: none;
  display: flex;
  justify-content: center;

    &:hover {
      background-color: color(secondary-accent-color);
    }
}