@import '../index.scss';
@import '../components/_breakpoints.scss';

.container {
  @include page-container;

  .page {
    @include page;

    .contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 5em;
      margin-top: 4em;

      @include tablet {
        margin-top: 8em;
        row-gap: 7em;
      }

      @include desktop {
        row-gap: 8em;
      }

      @include desktop {
        row-gap: 8em;
      }
    }
  }
}