@import '../index.scss';

.summary {
  @include page-container;
  text-align: left;
  align-items: flex-start;
  width: 100%;
  gap: 1.5em;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2em 2em 0;
  margin-top: 1.5em;
  background: color(white);

  &-title {
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-piece, &-total {
      @extend .summary-info;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      opacity: 1;
    }
  }

  .label, .price {
    width: fit-content;
  }

  .label {
    text-transform: uppercase;
    opacity: 0.5;
  }

  .price {
    @extend .summary-title;
    letter-spacing: normal;
  }

  .button1 {
    width: 100%;
    margin-top: 1em;
  }
 }