@import '../index.scss';

.about {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: center;

  box-sizing: border-box;

  h2 {
    padding: 0 0.75em;
  }

  span {
    color: color(accent-color);
  }
}