@import '../index.scss';

.ad {
  @include grid;
  row-gap: 1em;

  &-item {
    @include grid-item;
    justify-content: center;

    &-speakerzx9 {
      @include grid-item;
      gap: 2em;
      padding: 4em 1.5em 3em;
      background-color: color(accent-color);

      h1 {
        width: 50%;
      }
    }

    &-img-speakerzx9 {
      height: 200px;
      width: auto;
    }

    &-img-speakerzx7 {
      position: relative;
    }

    &-img-earphones {
      margin-bottom: 1em;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2em;

      &-speakerzx7 {
        @extend .ad-item-content;
        position: absolute;
        left: 15%;
        gap: 2em;
      }

      &-earphones {
        @extend .ad-item-content;
        width: 100%;
        padding: 3em 2em;
        border-radius: 8px;
        box-sizing: border-box;
        background: color(secondary-color);
      }
    }
  }
}