@import '../index.scss';

.category {
  @include grid;
  row-gap: 4.5em;

  &-item {
    @include grid-item;
    position: relative;
    justify-content: flex-end;
    height: 10em;
    background: color(secondary-color);

    &-img {
      position: absolute;
      top: -30%;
      height: 104px;
      width: auto;
    }

    &-shadow {
      position: absolute;
      top: -33%;
      scale: 0.5;
    }

    &-content {
      padding-bottom: 0.5em;
    }
  }
}